body {
  margin: 0;
  padding: 0;
}
.hot {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 20rem;
    background-color: aqua;

}